<h3 class="title"><%= l(:add_client_specific_credential)%> </h3>

<%= labelled_form_for [@project, @client_specific_credential], :remote => true do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= submit_tag l(:button_create), data: { disable_with: "Please wait..." } %>  
<% end %>

<style type="text/css">
  .ui-dialog-content .box {
    background: hsla(0, 0%, 0%, 0) none repeat scroll 0 0;
    border: solid;
    box-shadow: none;
    padding: 15px 31px 0 0;
  }
</style>