<p>Hello <%= @responsible_person %>,</p>

<p>There is new traning need added into the project - <%= @project_name %>
</p>

<p>Please discuss with - <%= @traning_author %> for more details</p>

<p>Thanks & regards</p>
<p><%= @traning_author %></p>