<h3 class="title"><%= l(:add_more_hardware_software_plan, to: @profile.name)%> </h3>

<%= labelled_form_for [@project, @hardware_software_plan], :url =>  add_more_project_hardware_software_plans_path(@project), :remote => true do |f| %>
  <%= render :partial => 'add_more_and_edit_form', :locals => { :f => f } %>
  <%= submit_tag l(:button_create) %>  
<% end %>

<style type="text/css">
  .ui-dialog-content .box {
    background: hsla(0, 0%, 0%, 0) none repeat scroll 0 0;
    border: solid;
    box-shadow: none;
    padding: 15px 31px 0 0;
  }
</style>