<h3 class="title"><%= l(:add_type_of_testing)%> </h3>

<%= labelled_form_for [@project, @type_of_testing], :url =>  add_more_project_type_of_testings_path(@project), :remote => true do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= submit_tag l(:button_save), data: { disable_with: "Please wait..." } %>  
<% end %>

<style type="text/css">
  .ui-dialog-content .box {
    background: hsla(0, 0%, 0%, 0) none repeat scroll 0 0;
    border: solid;
    box-shadow: none;
    padding: 15px 31px 0 0;
  }
</style>