<% if User.current.logged? %>
	<div></div>
	<%if false%>
		<div><h3>Help Videos</h3></div>
		<!-- <h3><%#= l(:tutorial_page_title) %></h3> -->
		<% if User.current.admin? %>
		    <ul class="video_tutorials"><% video_tutorials.each do |video_tutorial| %>
		      <li><%= link_to video_tutorial.title, video_tutorial.video.url, target: '_blank' %></li>
		    <% end %>
			</ul>

			<ul class="video_links">
			  <% video_links.each do |video|%>
			    <% video = eval(video) %>
			      <li><%= link_to video[:name], video[:link], target: '_blank' %></li>
			  <% end %>
				</ul>
		<% elsif (User.current.company_id.nil? || User.current.company.default_company) && !User.current.admin? %>
			<ul class="video_links">
			  <% video_links.each do |video|%>
			    <% video = eval(video) %>
			      <li><%= link_to video[:name], video[:link], target: '_blank' %></li>
			  <% end %>
		<% else %>
		  <% if video_tutorials.blank? %>
		    <h1 class="video_blank">There is no tutorial available for PMS.</h1>
		  </ul>
			<% end %>
		<% end %>
		<% html_title(l(:tutorial_page_title)) -%>
	<%end%>
<% end %>
