<%= error_messages_for 'bug_category' %>

<div id="user_form">
    <fieldset class="box tabular">
      <legend><%=l(:label_information_plural)%></legend>
      <p><%= f.text_field :name, :required => true, :size => 25  %></p>
    </fieldset></br>
</div>
