<script type="text/javascript">
  $(document).ready(function () {
    $("a.top_menu_services").append(function (i, html) {
      // $(this).attr('title', "Services");
      return "<span class='num'>" + " <%= User.current.logged? ? session[:service_count] : 0 %>" + "</span>";
    });
  });
</script>